*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: cyan;
    background:linear-gradient(to top right,#214f65,cyan) ;
}
header{
    position: relative;
    width: 100vw;
    height: 200px;
}

.menu-container{
    position: absolute;
    left: calc(50% - -90px);
    width: 300px;
    height: 150px;
    padding-top: 140px;
    margin: 0 auto;
}
.menu-container ul{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.menu-container li{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    list-style: none;
    color: deeppink;
}

main{

    position: absolute;
    text-align: center;
    top:calc(50% - 140px);
    margin: 0 auto;
    width: 860px;
    height: 180px;
    border: solid black 3px;
    border-radius: 15px;
}
.cabecera{
    text-align: start;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: black;
    padding-top: 20px;
    margin-left: 25px;
}
.box{
    text-align: center;
    margin: 0 auto;
    width: 860px;
    height: 110px;


}
.box h1{
    width: 860px;
    padding-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: deeppink;
}
.box p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding-bottom: 25px;
    padding-top: 25px;
    
    
}