*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /* SE LE AGREGO ESTILOS DE flex-direction: COLUMN Y SE LE PUSO SPACE-BETWEEN PARA QUE SE PUEDA ACOMODAR MEJOR 
    EL LAYOUT DE LA PAGINA YA QUE CON LOS ESTILSO ANTERIORES GENERABA CONFLICTOS EN EL LAYOUT */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background:linear-gradient(80deg, rgba(57, 58, 155, 0.9), rgba(15, 5, 5, 0.9)), url(https://i.pinimg.com/originals/88/ca/85/88ca8568af14950b1f697117a394b1f5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    position: relative;
    width: 100vw;
    height: 200px;
}
.logo{
    /* SE LE AGREGO UN LOGO AL HEADER  */
    position: absolute;
    left: calc(50% - 361px);
    width: 60px;
    height: 60px;
    background-image: url(../assets/icons/luna.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 140px;
}
.menu-container{
    position: absolute;
    left: calc(50% - -90px);
    width: 300px;
    height: 150px;
    padding-top: 140px;
    margin: 0 auto;
}
.menu-container ul{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}
.menu-container li{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.4rem;
    list-style: none;
    color: blanchedalmond;
}

main{
    /* se le quito los estilos de position: absolute y el de top:cal() ya que generaban conflictos y sOLO SE LE AGREGO MARGIN */
    text-align: center;
    margin: 0 auto;
    width: 860px;
    height: 200px;
    background-color: rgba(20, 20, 49, 0.527);
    border: solid rgba(233, 232, 232, 0.171) 3px; 
    border-radius: 20px;
    box-shadow: black -2px 6px 50px 0px;
    margin-bottom: 100px;
}

.cabecera{
    display: flex;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 2.6rem;
    color: rgb(233, 232, 232);
    padding-top: 20px;
    margin-left: 25px;
}
.cabecera p{
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: black 1px 0px 14px;

}
.cabecera span{
    padding: 1px;
    margin-left: 25px;
}
.box{
    text-align: center;
    margin: 0 auto;
    width: 860px;
    height: 110px;


}
.box h1{
    width: 860px;
    padding-top: 20px;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: rgb(233, 232, 232);
}
.box p{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2rem;
    padding-bottom: 0px;
    padding-top: 25px;
    color: rgb(233, 232, 232);   
    
}
/* ESTILOS DEL FOOTER */

footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
    
}
.footer-mensaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3rem;
    color: whitesmoke;

}